/* JOSH COMEAU CSS RESET. SOURCE: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e2e6;
}

main h1 {
  text-align: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 482px;
  height: 482px;
  border: blue 1px solid;
}

#controls {
  display: flex;
}

#color-picker {
  display: flex;
}

#clear {
  margin-left: auto;
}