/* JOSH COMEAU CSS RESET. SOURCE: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 164px;
  height: 164px;
  border: blue 2px solid;
}

.grid-square {
  width: 10px;
  height: 10px;
  border: red 2px solid;
}
